<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Music App</title>

    <!-- Favicon -->
    <link th:href="@{/imgs/core-img/favicon.ico}" rel="icon">

    <!-- Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- Header -->
<header th:insert="~{fragment :: header}">
</header>

<!-- ##### Header Area End ##### -->

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" th:style="'background-image: url(' + @{/imgs/bg-img/bg-1.jpg} + ');'">
    <div class="bradcumbContent">
        <h2>Artist for Admin</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Artist Profile Area Start ##### -->
<section class="album-catagory section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-4">
                <a class="btn btn-primary" th:href="@{/music-app/admin/artists/create}">Add Artist</a>
            </div>
        </div>
        <div class="row oneMusic-albums">
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item"
                 th:each="artist : ${artists.content}">
                <div class="single-album">
                    <img th:src="@{'/image/' + ${artist.image}}"
                         th:alt="${artist.name}"
                         style="width: 130px; height: 170px;"
                    >
                    <div class="album-info">
                        <a th:href="@{/music-app/admin/artists/{id}(id=${artist.id})}">
                            <h5 th:text="${artist.name}">Artist Name</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        </div>

    </div>
</section>

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a th:href="@{/}">
                    <img th:src="@{/imgs/core-img/logo.png}" alt="Logo">
                </a>
                <p class="copywrite-text">
                    <!-- Hiển thị năm hiện tại -->
                    Copyright &copy;<script th:inline="javascript">document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
            </div>

            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    <ul>
                        <li><a th:href="@{/}">Home</a></li>
                        <li><a th:href="@{/albums}">Albums</a></li>
                        <li><a th:href="@{/events}">Events</a></li>
                        <li><a th:href="@{/news}">News</a></li>
                        <li><a th:href="@{/contact}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area End ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script th:src="@{/js/jquery/jquery-2.2.4.min.js}"></script>
<!-- Popper js -->
<script th:src="@{/js/bootstrap/popper.min.js}"></script>
<!-- Bootstrap js -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
<!-- All Plugins js -->
<script th:src="@{/js/plugins/plugins.js}"></script>
<!-- Active js -->
<script th:src="@{/js/active.js}"></script>

</body>

</html>
