<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title th:text="${user.get.name} + '\'s profile'"></title>
    <!-- Favicon -->
    <link rel="icon" href="/imgs/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<header th:insert="fragment:: header"></header>
<!-- ##### Featured Artist Area Start ##### -->
<section class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed"
         style="background-image: url(/imgs/bg-img/bg-4.jpg);">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md-5 col-lg-4">
                <div class="featured-artist-thumb">
                    <img th:src="${user.get.profilePicture}" th:alt="${user.get.name}">
                </div>
            </div>
            <div class="col-12 col-md-7 col-lg-8">
                <div class="featured-artist-content">
                    <!-- Section Heading -->
                    <div class="section-heading white text-left mb-30">
                        <p th:text="${user.get.name}"></p>
                    </div>
                    <p th:text="${user.get.bio}"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Featured Artist Area End ##### -->
<!-- ##### Miscellaneous Area Start ##### -->
<section th:fragment="miscellaneous-area" class="miscellaneous-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- ***** Weeks Top ***** -->
            <div class="col-12 col-lg-4">
                <div class="weeks-top-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <p>Favorite</p>
                        <h2>Your Playlist</h2>
                    </div>

                    <th:block th:each="p : ${createdPlayLists}">
                        <!-- Single Top Item -->
                        <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="350ms">
                            <div class="thumbnail">
                                <img th:src="'/image/'+${p.image}" th:alt="${p.name}">
                            </div>
                            <div class="content-">
                                <h6 th:text="${p.name}"></h6>
                                <p th:text="'Views: '+${p.views}"></p>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>

            <!-- ***** New Hits Songs ***** -->
            <div class="col-12 col-lg-4">
                <div class="new-hits-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <p>It's yours</p>
                        <h2>Songs</h2>
                    </div>

                   <th:block th:each="s : ${createdSongs}" >
                       <!-- Single Top Item -->
                       <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp"
                            data-wow-delay="350ms">
                           <div class="first-part d-flex align-items-center">
                               <div class="thumbnail">
                                   <img th:src="'/image/' +${s.avatarUrl}" th:alt="${s.title}">
                               </div>
                               <div class="content-">
                                   <h6 th:text="${s.title}"></h6>
                                   <p th:if="${s.genres.size() > 0}" th:text="${s.genres[0].name}"></p>
                               </div>
                           </div>
                           <audio preload="auto" controls>
                               <source th:src="'/mp3/'+${s.mediaUrl}">
                           </audio>
                       </div>
                   </th:block>

                </div>
            </div>

            <!-- ***** New Hits Songs ***** -->
            <div class="col-12 col-lg-4">
                <div class="new-hits-area mb-100">
                    <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
                        <p>Love</p>
                        <h2>Liked Songs</h2>
                    </div>

                    <th:block th:each="s : ${likedSongs}" >
                        <!-- Single Top Item -->
                        <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp"
                             data-wow-delay="350ms">
                            <div class="first-part d-flex align-items-center">
                                <div class="thumbnail">
                                    <img th:src="'/image/'+${s.avatarUrl}" th:alt="${s.title}">
                                </div>
                                <div class="content-">
                                    <h6 th:text="${s.title}"></h6>
                                    <p th:if="${s.genres.size() > 0}" th:text="${s.genres[0].name}"></p>
                                </div>
                            </div>
                            <audio preload="auto" controls>
                                <source th:src="'/mp3/'+${s.mediaUrl}">
                            </audio>
                        </div>
                    </th:block>

                </div>
            </div>

        </div>
    </div>
</section>

<!-- ##### Miscellaneous Area End ##### -->
<!-- ##### Contact Area Start ##### -->
<section th:insert="fragment :: contact-area"></section>
<!-- ##### Contact Area End ##### -->
<!-- ##### Footer Area Start ##### -->
<footer th:insert="fragment :: footer"></footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<div th:insert="fragment :: import-js-file"></div>
</body>
</html>