<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <link rel="icon" href="/imgs/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>

<body>
<header th:insert="~{fragment :: header}"></header>
<section class="breadcumb-area bg-img bg-overlay" th:style="'background-image: url(' + @{/imgs/bg-img/bg-1.jpg} + ');'">
    <div class="bradcumbContent">
        <h2>Musics</h2>
    </div>
</section>
<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Buy Now Area Start ##### -->
<div class="oneMusic-buy-now-area mb-100">
    <div class="container">
        <div class="row">

            <th:block th:each="s : ${allSongs}">


                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3">
                    <a th:href="@{/music-app/songs/{id}(id=${s.id})}">
                        <div class="single-album-area">
                            <div class="album-thumb">
                                <img style="max-width: 130px;" th:src="'/image/' + ${s.avatarUrl}" th:alt="${s.title}">
                                <!-- Album Price -->
                                <div class="album-price">
                                    <!--                                    <p th:text="${s.title}"></p>-->
                                </div>
                                <!-- Play Icon -->
                                <!--                                <div class="play-icon">-->
                                <!--                                    <a href="#" class="video&#45;&#45;play&#45;&#45;btn"><span class="icon-play-button"></span></a>-->
                                <!--                                </div>-->
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5 th:text="${s.title}"></h5>
                                </a>
                                <!--                                <p th:text="${s.artists[0].name}"></p>-->
                            </div>
                        </div>
                    </a>

                </div>
            </th:block>

        </div>
    </div>
</div>
<!-- ##### Buy Now Area End ##### -->

<!-- ##### Add Area Start ##### -->
<div class="add-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="adds">
                    <a href="#"><img src="img/bg-img/add3.gif" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Add Area End ##### -->

<!-- ##### Song Area Start ##### -->
<div class="one-music-songs-area mb-70">
    <div class="container">
        <div class="row">

            <th:block th:each="s : ${allSongs}">

                <!-- Single Song Area -->
                <div class="col-12">
                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                        <div class="song-thumbnail">
                            <img th:src="'/image/' + ${s.avatarUrl}" alt="">
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p th:text="${s.title}"></p>
                            </div>
                            <audio preload="auto" controls>
                                <source th:src="'/mp3/' + ${s.mediaUrl}">
                            </audio>

                            <!--                                <form th:action="@{/music-app/songs/like/{id}(id=${song.id})}" method="post">-->
                            <!--                                    <button type="submit" class="btn btn-primary">-->
                            <!--                                        <i class="fa fa-heart"></i> Like-->
                            <!--                                    </button>-->
                            <!--                                </form>-->
                        </div>
                    </div>
                </div>
            </th:block>


        </div>
    </div>
</div>
<!-- ##### Song Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img"
         style="background-image: url(img/bg-img/bg-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white">
                    <p>See what’s new</p>
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                                              placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn oneMusic-btn mt-30" type="submit">Send <i
                                        class="fa fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                <p class="copywrite-text"><a href="#">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>

            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    <ul>
                        <li><a th:href="@{/music-app}">Home</a></li>
                        <li><a th:href="@{/music-app/artists}">Artist</a></li>
                        <li><a th:href="@{/music-app/playlists}">Playlist</a></li>
                        <li><a th:href="@{/music-app/songs}">Songs</a></li>
                        <li><a th:href="@{/music-app/contact}">Contact</a></li>
                        <li sec:authorize="isAuthenticated()"><a
                                th:href="@{/music-app/me}">Me</a></li>
                        <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/music-app/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<div th:insert="fragment :: import-js-file"></div>
</body>

</html>