<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>One Music - Modern Music HTML5 Template</title>

    <link rel="icon" href="/imgs/core-img/favicon.ico">
    <!-- Stylesheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>
    .song-thumbnail img {
        width: 150px; /* Set fixed width */
        height: 120px; /* Set fixed height */
        object-fit: cover; /* Crop image to fit without distortion */
        padding: 5px; /* Padding between image and border */
        border-radius: 10px; /* Rounded corners */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
    }

    .playlist-item {
        z-index: 1;
        position: absolute;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 10px;
        background-color: #f9f9f9;
    }
    .playlist-container {
        position: relative;
        display: none; /* Start hidden */
        z-index: 1;
    }
</style>

<body>
<header th:insert="~{fragment :: header}"></header>
<section class="breadcumb-area bg-img bg-overlay" th:style="'background-image: url(' + @{/imgs/bg-img/bg-1.jpg} + ');'">
    <div class="bradcumbContent">
        <h2>Musics</h2>
    </div>
</section>

<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Buy Now Area Start ##### -->
<div class="oneMusic-buy-now-area mb-100" style="margin: 50px 0;">
    <div class="container">
        <div class="row">
            <th:block th:each="s : ${allSongs}">
                <!-- Single Album Area -->
                <div class="col-12 col-sm-6 col-md-3" style="text-align: center">
                    <a th:href="@{/music-app/songs/{id}(id=${s.id})}">
                        <div class="single-album-area">
                            <div class="album-thumb song-thumbnail">
                                <img style="max-width: 130px;" th:src="'/image/' + ${s.avatarUrl}" th:alt="${s.title}">
                            </div>
                            <div class="album-info">
                                <a href="#">
                                    <h5 th:text="${s.title}"></h5>
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>
    </div>
</div>
<!-- ##### Buy Now Area End ##### -->

<!-- ##### Add Area Start ##### -->
<div class="add-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="adds">
                    <a href="#"><img src="img/bg-img/add3.gif" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Add Area End ##### -->

<!-- ##### Song Area Start ##### -->
<div class="one-music-songs-area mb-70">
    <div class="container">
        <div class="row">
            <th:block th:each="s : ${allSongs}">
                <!-- Single Song Area -->
                <div class="col-12">
                    <div class="single-song-area mb-30 d-flex flex-wrap align-items-end">
                        <div class="song-thumbnail song-thumbnail">
                            <img th:src="'/image/' + ${s.avatarUrl}" alt="">
                        </div>
                        <div class="song-play-area">
                            <div class="song-name">
                                <p th:text="${s.title}"></p>
                            </div>

                            <div style="display: flex">
                                <audio preload="auto" controls>
                                    <source th:src="'/mp3/' + ${s.mediaUrl}">
                                </audio>

                                <form th:action="@{/music-app/songs/like/{id}(id=${s.id})}" method="post" style="margin-left: 20px">
                                    <button type="submit" id="likeBtn" class="btn btn-light" style="height: 30px; line-height: 100%; margin-top: 5px;">
                                        Like
                                    </button>
                                </form>
                                <form th:action="@{/music-app/songs/unlike/{id}(id=${s.id})}" method="post" style="margin-left: 20px">
                                    <button type="submit" id="unLikeBtn" class="btn btn-light" style="height: 30px; line-height: 100%; margin-top: 5px;">
                                        Un Like
                                    </button>
                                </form>

                                <div class="playlist-toggle">
                                    <button class="btn btn-secondary" id="toggleBtn" style="background-color: #252525; border: none">...</button>
                                </div>
                                <div class="playlist-container" id="playlistContainer">
                                    <div class="playlist-item">
                                        <th:block th:each="p : ${allPlaylistsByUserId}">
                                            <form th:action="@{/music-app/playlists/{playlistId}/song/{songId}(playlistId=${p.id}, songId=${s.id})}" method="post">
                                                <button type="submit" class="btn btn-light" th:text="${p.name}"></button>
                                            </form>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <div style="display:flex;">
                                <p style="margin-right: 5px;">Playing:</p>
                                <p th:text="${s.playCount}"></p>
                            </div>
                        </div>
                    </div>
                </div>

            </th:block>
        </div>
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation" style="display:flex; justify-content: center;">
                    <ul class="pagination mt-3 mb-0">
                        <!-- Previous Page -->
                        <li class="page-item" th:classappend="${allSongs.hasPrevious()} ? '' : 'disabled'">
                            <a class="page-link"
                               th:href="@{/music-app/songs(page=${allSongs.number - 1}, size=${size})}"
                               aria-label="Previous"
                               th:if="${allSongs.hasPrevious()}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <!-- Page Numbers -->
                        <li class="page-item"
                            th:each="page : ${#numbers.sequence(0, allSongs.totalPages - 1)}"
                            th:classappend="${page == allSongs.number} ? 'active'">
                            <a class="page-link"
                               th:href="@{/music-app/songs(page=${page}, size=${size})}"
                               th:text="${page + 1}"></a>
                        </li>
                        <!-- Next Page -->
                        <li class="page-item" th:classappend="${allSongs.hasNext()} ? '' : 'disabled'">
                            <a class="page-link"
                               th:href="@{/music-app/songs(page=${allSongs.number + 1}, size=${size})}"
                               aria-label="Next"
                               th:if="${allSongs.hasNext()}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </div>
</div>
<!-- ##### Song Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100 bg-img bg-overlay bg-fixed has-bg-img"
         style="background-image: url(img/bg-img/bg-2.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading white">
                    <p>See what’s new</p>
                    <h2>Get In Touch</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Contact Form Area -->
                <div class="contact-form-area">
                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" rows="6" placeholder="Message"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn oneMusic-btn">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->

<!-- Scripts -->
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/plugins/plugins.js"></script>
<script src="/js/active.js"></script>
<script>
    // Toggle playlist container
    document.getElementById('toggleBtn').addEventListener('click', function () {
        var container = document.getElementById('playlistContainer');
        container.style.display = container.style.display === 'none' ? 'block' : 'none';
    });



</script>
</body>
</html>
